table {
    margin: 0 auto;
    border-collapse: collapse;
    
    border-spacing: 1em .5em;
  padding: 0 2em 1em 0;

    
}
table th,
table td {
  border: 1px solid silver;
  width: 18em;
  height: 1.5em;
  text-align: center;
  vertical-align: middle;
}
caption {
    font-size: 30px;
}
